body{
    background-color: whitesmoke;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    
}
h1{
    color: white;
    background-image: linear-gradient(90deg, #fac960, #8a6d2f);
}
.headscreen{

    background-image: linear-gradient(90deg, #fac960, #8a6d2f);
}
ul{
    list-style: none;
    
}

.headlist{
    border: 1;
    float: left;
    padding: 20px;
    font-size: larger;
    color: #fac960;
    
}
.headlist:hover{

    background-image: linear-gradient(90deg, #fac960, #8a6d2f);
    color: #fac960;
    font-size: x-large;
}
h3{
    color: #8a6d2f;
    background-image: linear-gradient(90deg, #fac960, #8a6d2f);
    font-size: larger;
    
}
input{
    padding: 10px;
    width: 450px;
}
.button{
    padding: 10px;
    width: 350px;
    font-size: large;
    color: white;
    background-color: #fac960;
}
select{
    padding: 10px;
    width: 470px;
}