{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HR Admin</title>
    <link rel="stylesheet" href="{%static 'css/index_styles.css' %}">
</head>
<body>
    <div class= "home">
        <h1 align= 'center'><br>Operations Management<br><br></h1>
        <ul class="headscreen">
            <li class ='headlist'><a style="text-decoration: none; color:#333" style:hover='color: #333' href = "{% url 'homebutton' %}">Home</a></li>
            <li class ='headlist'>Contacts</li>
            <li class ='headlist' ><a style="text-decoration: none; color:#333" style:hover='color: #333' href = "{% url 'logout' %}">Logout</a></li>
        </ul><br><br>

        <h2 align= 'center'><br>HR Administration<br><br></h2>
        {% for message in messages %}
        <h3 align='center' style="color: red;">{{message}}</h3>
        {% endfor %}
        
    </div>
    <div class="main_hr"> 
        <ul>
            <li><a style="text-decoration: none; color:#333" href= "{% url 'employee' %}">Employee Management</a></li>
            <li><a style="text-decoration: none; color:#333" href= "{% url 'employee_leave' %}">Leave Management</a></li>
            <li><a style="text-decoration: none; color:#333" href="{% url 'approvals' %}"> Approvels</a></li>
            <!-- <li>Disputes And Wages</li> -->
            <li><a style="text-decoration: none; color:#333" href= "{% url 'hr_newsletters' %}">News Letters</a></li> 

        </ul>


    </div>
    
</body>
</html>