{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Employee</title>
    <link rel="stylesheet" href="{%static 'css/employee.css' %}">
</head>
<body>
    <div class= "home">
        <h1 align= 'center'><br>Operations Management<br><br></h1>
        <ul class="headscreen">
            <li class ='headlist'><a style="text-decoration: none; color:#333" style:hover='color: #333' href = "{% url 'homebutton' %}">Home</a></li>
            <li class ='headlist' ><a style="text-decoration: none; color:#333" style:hover='color: #333' href = "{% url 'logout' %}">Logout</a></li>
        </ul><br><br>
        <p><a style="color: royalblue; text-decoration: none;" href="{% url 'hradmin'%}">HR Management << </a><a style="color: royalblue; text-decoration: none;" href="{% url 'employee'%}">Employee Management</a></p><br><br>
        {% for message in messages %}
        <h3 align='center' style="color: greenyellow;">{{message}}</h3>
        {% endfor %}
        <form action="{% url 'update' %}" method="POST">
            {%csrf_token%}
    <table style = "width: 100%"; border="1";>
         <caption>Employe List</caption>
        <tr>
            <th>Staff Name</th>
            <th>Staff Title</th>
            <th>Department</th>
            <th>Date of Birth</th>
            <th>Date of Joining</th>
            <th>Phone Number</th>
            <th>Update</th>
        </tr>
        {% for res in result %}
        <tr>
            <td>{{res.staff_name}}</td>
            <td>{{res.emp_title}}</td>
            <td>{{res.department_id}}</td>
            <td>{{res.DOB}}</td>
            <td>{{res.date_of_join}}</td>
            <td>{{res.phone}}</td>
            <td><button type='submit' name='em_id' value= {{ res.emp_id }}>UPDATE</button></td>
        </tr>
        {% endfor %}
        
    </table>
</form>
</body>
</html>